@model LennyBlog.Models.ViewModels.LinkViewModel
@using LennyBlog.Extensions;
@{
    Layout = "~/Areas/Admin/Views/shared/_LayoutPart.cshtml";
}
<div class="gray-bg wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑轮播</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                        @Html.HiddenFor(m => m.IsNew)
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.Site, new { @class = "form-control", @id = "txtSite" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" id="dvDescription">
                            <label class="col-sm-2 control-label">URL</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.Url, new { @class = "form-control", @id = "txtURL" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-10">
                                @Html.EnumToDropDownListFor(u => u.Status, new { @class = "form-control", @id = "txtStatus" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="button" onclick="history.go(-1)">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>